{% extends 'admin_base.html' %}{% block content %}
<nav class="navbar " style="background: #F9F7F7;    ">
    <div class="container d-flex">
      <a class="navbar-brand" style="color: #655C56;" href="#">
        <b>ecommerce</b>
        {% comment %} <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"> {% endcomment %}
      </a>
      <div class="d-flex">
      <a class="nav-link " style="color: #655C56;" href="users">Users</a>
      <a class="nav-link " style="color: #655C56;" href="products">Products</a>
      <a class="nav-link " style="color: #655C56;" href="category">Category</a>
      <a class="nav-link " style="color: #655C56;" href="adminlogout">Logout</a>
      </div>
    </div>
  </nav>
    
{% endblock content %}