{% extends 'base.html'%} {% block content%}
{% load static %}
<nav class="navbar " style="background: #1C3879;    ">
    <div class="container d-flex">
      <a class="navbar-brand" style="color: #FFFFFF;" href="#">
        <b>ecommerce</b>
        {% comment %} <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"> {% endcomment %}
      </a>
      <div class="d-flex">
      <a class="nav-link " style="color: #FFFFFF;" href="#">About Us</a>
      <a class="nav-link " style="color: #FFFFFF;" href="login">login</a>
      </div>
    </div>
  </nav>
<h1>Home</h1>

{%endblock%}